/* 

CSS - MobThon 

Aqui ficará concentrado todo código referente ao CSS do código. CSS é a sigla para o termo em inglês 
Cascading Style Sheets que, traduzido para o português, significa Folha de Estilo em Cascatas. 

*/

/*  -------------------------------------------   GRID    -------------------------------------------*/

body{
    margin: 0;
    padding: 0;                                         
    display: grid;                                     
    grid-template-areas: 'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'article article article article' 
                         'footer footer footer footer';

    grid-template-rows: 100vh 70vh 80vh 70vh 30vh;          

}

header{                                                             /*  Definindo o header do grid  */
    grid-area: header;
    background-color: rgba(0, 0, 0, .4);
}
section{                                                            /*  Definindo a section do grid  */
    grid-area: section;
    background-color: white;
}
aside{                                                             /*  Definindo o header do grid  */
    grid-area: aside;
    background-color: orange;
}
article{                                                           /*  Definindo o article do grid  */
    grid-area: article;
    background-color: #024454;
}

footer{                                                            /*  Definindo o header do grid  */
    grid-area: footer;
    background-color: #024454;
}


/* <><><><><><><><><><><><><><><><<><><><>  NAV  <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* NAV - SCROLL */

.menuScroll {
    position: fixed;	
    top: 0px;	
    width: 100%;	
    height: auto;	
    background-image: linear-gradient(aquamarine, rgb(46, 166, 247) );
    /* background-image: linear-gradient(to right, rgb(46, 166, 247) 20%, aquamarine 46%, rgb(162, 0, 255) 100%); */ 
 }

 .menuScroll a:hover{
    color: #024454;
 }

.botaoScroll {	
    padding: 10px;	
    text-align: center;	
    border-radius: 20px;	
    background: #024454;		
    color: white;	
}	

/* NAV */

nav{    
    align-items: center;                                               /*  Definindo alinhamento horizontal  */                                        
    border-top: 10px solid #7fffd4;                                  /*  Borda topo  */   
    display: flex;                                                     /*  Definindo display flex  */                                                 
    justify-content: space-around;                                     /*  Separando os itens  */ 
    position: fixed;	
    top: 0px;	
    width: 100%;	
    height: auto;	 
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    
}

/* NAV --> img (logo) */

nav div img{
    height: 70px;
    width: 70px;
    cursor: pointer;
}

/* NAV --> ul (lista) */
nav ul{
    display: flex;
    list-style-type: none; 
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

/* NAV --> ul --> (estilos de fontes) */
nav ul li a{
    color: white;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
    cursor: pointer;
}

nav a:hover{
    color: aquamarine;
}

/* NAV --> ul --> (estilos de fontes) */
#divLogin{
    padding: 1.2rem 2rem .8rem;
    background-color: rgba(0, 0, 0, 0.103);
    display: inline-block;
    border-radius: 2rem;
    border: 3px solid white;
    color: white;
}

#divLogin a{
    color: white;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
    cursor: pointer;
}

#divLogin:hover{
    background-color: aquamarine;
    border: 3px solid aquamarine;
    color: white;
}


/* <><><><><><><><><><><><><><><><<><><><>  HEADER     <><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */


/* HEADER --> Background (animado) */

header{
    background-image: url("/static/images/wallpaper2.jpg");
    background-size: cover; 
    background-attachment: fixed;   
    background-position: 120% 0px, 0px 0px, 0px 0px, 0px 0px;
	background-repeat: no-repeat, repeat, repeat,  repeat;
    animation: animate-backgroung linear 50s infinite;
    display: flex;                                                               
    align-items: center;                                                         
    justify-content: center;                                                     
    flex-direction: column; 
}

@keyframes animate-backgroung{
	from { background-position: 120% 0px, 0px 0px, 0px 0px, 0px 0px; }
    to { background-position: -20% 0px, 3000px 0px, 1500px 0px, 1500px 0px; }
}


/* TEXTO CENTRAL */
.content {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
  .slider{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    /* padding-left:15px; */
    overflow: hidden;
  }
  .slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    background: rgb(65, 182, 255);
    animation: slide 5s linear infinite;
  }
  .slider-text2 {
    background: rgb(127, 255, 212);
  }
  .slider-text3 {
    background: rgb(10, 199, 206);
  }
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }
/* <><><><><><><><><><><><><><><><<><><><>  SECTION    <><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

section{
    width: 100%;
    height: 100%;
    background-image: url("/static/images/section/backgroundmap.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pPesquisa{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0ac7ce;
    font-size: 30pt;
}

.pesquisaDivA{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #0ac7ce;
    border-width: 5px;
    border-radius: 26px;
    width: 700px;
    height: 52px;
    background-position: right 35px center;
}
.aPesquisa{
    text-decoration: none;  
    font-size: 30pt;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0ac7ce;
}

.pesquisaDivA:hover{
    box-shadow: 10px 10px 20px gray;
    background-color: white; 
}

/* .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.container .circle{
    width: 100%;	
    height: 100%;
    cursor: pointer;
    transition: 1s;  
}

.container .circle.circle1{
    background: url("/static/images/section/ft1.jpg");
    clip-path: circle(100px at 25% center);
}

.container .circle.circle2{
    background: url("/static/images/section/ft2.jpg");
    clip-path: circle(100px at 50% center);
}

.container .circle.circle3{
    background: url("/static/images/section/ft2.jpg");
    clip-path: circle(100px at 75% center);
}


.container .circle:hover{
    clip-path: circle(1000px at center);
    z-index: 1;
} */

/* <><><><><><><><><><><><><><><><<><><><>  ASIDE  <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

aside{
    background-image: url("/static/images/aside/fundo2.png");
    background-size: cover; 
    flex-direction: row;
    display: flex;
    width: 100%;
}

.textoAside, .fundoAside{                                                              
    width: 45%;
    height: 100%;
}

.textoAside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 120px;
}

.botInformacao {
    margin-left: 30px;
    animation: neon 3s alternate infinite ease-in-out;
    --cor-neon:#024454;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MobthonTEXTO{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
    
}
.check {
    color: #024454;
    font-weight: 700;
    animation: neon 3s alternate infinite ease-in-out;
    --cor-neon: white;
}

p {
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));    
    }
    to {
        filter: drop-shadow(0 0 50px var(--cor-neon));
    }
}
/* <><><><><><><><><><><><><><><><<><><><>  ARTICLE  <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

article{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

article:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2);
}

.articleContainer{
    position: relative;
    z-index: 5;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.articleContainer .box{
    position: relative;
    width: 350px;
    height: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 30px rgba(0,0,0,.5);
    border-radius: 4px;
    margin: 20px;
    box-sizing:  border-box;
    overflow: hidden;
    text-align: center;
}

.articleContainer .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #ffffff;
    background: #024454;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.articleContainer .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0  #0ac7ce;
    background:  #0ac7ce;
}

.articleContainer .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px  #0ac7ce;
    background:  #0ac7ce;
}

.articleContainer .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #0ac7ce;
    background:  #0ac7ce;
}

.articleContainer .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px  #0ac7ce;
    background:  #0ac7ce;
}

.articleContainer .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0  #0ac7ce;
    background: #0ac7ce ;
}

.articleContainer .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px  #0ac7ce ;
    background: #0ac7ce ;
}

.content {
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    position: relative;
    z-index: 5;
    transition: 0.5s;
}

.content:hover{
    color: white;
}

/* <><><><><><><><><><><><><><><><<><><><>  FOOTER  <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid aquamarine;  
} 

.footerMom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
}

.footerSocial, .footerInfo, .footerCopyright{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.footerInfo h3{
    color: white;
}

/* FOOTER --> social --> (tudo) */

footer div ul{
    /* position: absolute;
    top: 50%;
    left: 50%;  */
    display: flex;
    justify-content: space-around;
    align-items: center; 
    /* transform: translate(-40%,-40%); */
    margin: 0;
    padding: 0; 
    list-style: none;
} 

footer div ul li a{
    list-style: none;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: .5s;
}

footer div ul li a span{
    position: absolute;
    transition: transform .5s;
}

footer div ul li a span:nth-child(1),
footer div ul li a span:nth-child(3){
    width: 100%;
    height: 1px; 
    background: white;
}

footer div ul li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin:right;

}

footer div ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin:left;
    transition: transform .5s;     
}
footer div ul li a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin:left;

}

footer div ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin:right;
    transition: transform .5s;     
}


footer div ul li a span:nth-child(2),
footer div ul li a span:nth-child(4){
    width: 1px;
    height: 100%;
    background: white;
}

footer div ul li a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin:bottom;

}

footer div ul li a:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin:top;
    transition: transform .5s;     
}


footer div ul li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin:top;

}

footer div ul li a:hover span:nth-child(4){ 
    transform: scaleY(1);
    transform-origin:bottom;
    transition: transform .5s;     
} 


/* <><><><><><><><><><><><><><><><<><><><><><><> MEDIA <><><><><><><><><><><><><><><><<><><><><><><> */

@media(max-width: 768px){                             /*  Media Queries  */
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             'header header section section'  
                             'aside aside article article' 
                             'footer footer footer footer';
        grid-template-rows: 20vh 70vh 70vh 20vh ;                        /*  Aqui precisa acrescentar mais uma linha  */
        grid-gap: 10px;                                                  /*  EspaÃ§o entre as estrofes  */
    }
}

@media(max-width: 475px){ 
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             'header header header header'  
                             'section section section section'  
                             'article article article article '  
                             'aside aside aside aside' 
                             'footer footer footer footer';
        grid-template-rows:20vh 70vh 70vh 70vh 70vh 20vh;                /*  Aqui precisa acrescentar 6 linhas  */
        grid-gap: 10px;                                                  /*  EspaÃ§o entre as estrofes  */
    }
}

/* header,section,aside,article{                                                 
    display: flex;                                                               
    align-items: center;                                                         
    justify-content: center;                                                     
    /* flex-direction: column;                                                       
} */
