{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
    <title>MobThon - Sua Mobilidade </title>
</head>
<body>
    <nav>
        <a>
            <p>TESTE</p>
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>

        <ul>
            <li><a href="">Início</a></li>
            <li><a href="">Mapthon</a></li> 
            <li><a href="">Contato</a></li>
            <li><a href="">Sobre</a></li>
        </ul>

        <div class="User">
            <a href="">Iniciar sessão</a>
        </div>

        
    </nav>
    <header></header> 
    <section></section> 
    <aside></aside> 
    <div></div>
    <footer></footer>
</body>
</html>