<!-- 

HTML - MobThon

Aqui ficará concentrado todo código referente ao HTML do código. HTML é a sigla para o termo em inglês 
Hypertext Markup Language que, traduzido para o português, significa Linguagem de Marcação de Hipertexto.

-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>MobThon - Sua Mobilidade </title>
</head>
<body>
    <header>
            <nav>
                <div class="Logo">
                    <img src="{% static 'images/logo.png' %}" alt="Logo">
                </div>
                
                <ul>
                    <li><a href="#" class='efeito'>Início</a></li>
                    <li><a href="mapthon.html" class='efeito'>Mapthon</a></li> 
                    <li><a href="#" class='efeito'>Contato</a></li>
                    <li><a href="#" class='efeito'>Sobre</a></li>
                </ul>
                
                <div id='divLogin'>
                    <a href="">Iniciar sessão</a>
                </div>                 
            </nav>

            <div class="content">
                    <div class="slider-wrapper">
                      Tenha uma nova experiência no
                      <div class="slider">
                          <div class="slider-text1">ÔNIBUS</div>
                          <div class="slider-text2">METRÔ</div>
                          <div class="slider-text3">TREM</div>
                      </div>
                    </div>       
                  </div>
    </header> 
<section>
    <div class="pesquisa">
        <div class="pesquisaDivP">
            <p class='pPesquisa'>PRECISA IR PARA A ALGUM LUGAR?</p>
        </div>
        <div class="pesquisaDivA">
            <a class='aPesquisa' href=''>Para onde?</a>
        </div> 

    </div>
    <!-- <div class="container">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
    </div> -->
</section>
<article>
    <div class="articleContainer">
        <div class="box">
            <div class="icon">&#x1F50C</div>
            <div class="content">
                <p>Se conecte para personalizar o seu perfil com suas preferências de pagamento e meios de transportes!</p>
            </div>
        </div>
        <div class="box">
            <div class="icon">&#x1F916</div>
            <div class="content">
                <p>Um Bot te ajudará interagindo no chat de suas redes sociais lhe enviando alertas e sugestões de rotas!</p>
            </div>
        </div>
        <div class="box">
            <div class="icon">&#x1F5E3;&#xFE0F</div>
            <div class="content">
                <p>Compartilhe informação com outros usuários sobre sugestões de caminhos e rotas, além de informar de problemas!</p>
            </div>
        </div>
    </div>       
</article>
<aside>
    <div class="fundoAside"></div>
    <div class="textoAside">
        <div class="botInformacao">
            <h2 class="MobthonTEXTO"> <b> <span class="mobthonNOME">MOBTHON — </span>  
            <br>Possibilitando uma melhor
            <br>mobilidade urbana 
            <br>para as cidades inteligentes
            </b> 
            </h2>
            <p>  <span class="check">✓ </span>Análise em tempo real dos meios de transporte</p>
            <p>  <span class="check">✓ </span>Sugestão das melhores rotas</p>
            <p>  <span class="check">✓ </span>Alertas de eventualidades no seu trajeto</p>
        </div>
    </div>
</aside> 
<footer>
    <div class="footerMom">
        <div class="footerCopyright">
            <p id="copyright"> © 2019 Mobthon. Todos os direitos reservados.</p>
        </div>

        <div class="footerSocial">
            <ul>
                <li>
                    <a href="https://www.facebook.com/"> 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/?hl=pt-br"> 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://br.linkedin.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/"> 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</footer>
</body>
</html>         