{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  
</head>
<body>  
   <form class="box" action="submit", method="POST">{% csrf_token %}
     <h2>Login</h2>
              <input type="username" placeholder="E-mail" name="username" >
              <input type="password" placeholder="Senha" name="password">
           

         {% if messages %}
            {% for message in messages %}
              <div class="alert">{{ message }}</div>
            {% endfor %}
        
         {% endif %}
    <button type="submit">Entrar</button>
    <p class="link">  
            Não tem conta?
            <a href="/cadastro/"> Cadastre-se </a>

       
  </form> 
</body>
</html>
 